<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="checkout-section-2 section-b-space" id="mySubPaisa">
    <div class="container-fluid-lg">
        <h3>Thank you for placing the Order</h3>
        <p></p>
        <h4>Kindly check the payment status after some time.</h4>
        <div _ngcontent-ng-c642440284="" class="empty-cart">
            <img _ngcontent-ng-c642440284="" alt="no-data" class="img-fluid" src="assets/svg/empty-items.svg">
        </div>
    </div>
</section>